:root
{
    --first-color : rgb(13, 18, 44);
    --second-color: rgb(35, 80, 131);
    --white-color: #FAFAFF;
    --dark-color: #2A3B47;
    --text-color: #697477;
}


body
{
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 1000px;
    background: linear-gradient(180deg, white 30%, var(--second-color) 70%);
}
#imagesDiv
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.images
{
    width: 20%;
}
#adminSignIn
{
    /* margin-top: 5%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--first-color);
}
.Buttons{
    margin-top: 2%;
    width: 150px;
    height: 45px;
    border: 5px solid var(--first-color);
    background-color: var(--white-color);
    color: var(--first-color);
    font-size: 30px;
    font-weight: 900;
    border-radius: 50px;
}
#backButton
{
    color: var(--white-color);
    margin-top: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.Inputs
{
    width: 220px;
    text-align: right;
    padding: 1%;
    margin-top: 2%;
    font-size: 20px;
    border: 5px solid var(--first-color);
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width: 1200px){
 
body
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 830px;
    /* background: linear-gradient(180deg, var(--white-color) 30%, var(--second-color) 70%); */
    /* background-color: var(--white-color); */
}
#adminSignIn
{
    /* margin-top: 40%; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--first-color);
}
.Buttons{
    margin-top: 10%;
    width: 150px;
    height: 45px;
    border: 5px solid var(--first-color);
    background-color: var(--white-color);
    color: var(--first-color);
    font-size: 20px;
    font-weight: 900;
    border-radius: 50px;
}
#backButton
{
    color: var(--white-color);
    margin-top: 4%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    font-size: 20px;
}
.Inputs
{
    width: 220px;
    text-align: right;
    padding: 3%;
    margin-top: 5%;
    font-size: 20px;
    border: 5px solid var(--first-color);
    border-radius: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   
#imagesDiv
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}
.images
{
    margin-bottom: 10%;
    width: 45%;
}
}